@import "tailwindcss";

@theme inline {
  --color-background: #FAF9F6;
  --color-foreground: #111111;
  --font-mono: var(--font-space-mono);
  --font-serif: var(--font-playfair);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 0 !important;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-mono), monospace;
}

::selection {
  background: #111;
  color: #FAF9F6;
}

a {
  text-decoration: none;
  color: inherit;
}
